

@import './Abstracts/variable';
@import './Abstracts/mixin';
@import './Base/animation';
@import './Base/base';
@import './Base/typography';
@import './Components/buttons';
@import './Layout/header';
@import './Layout/grid';
@import './Pages/home';
@import './Base/ultilities';
@import './Components/compositon';
@import './Components/skill-box';
@import './Components/card';
@import './Components/testimonial';
@import './Components/bg-video';
@import './Components/enroll';
@import './Components/form';
@import './Components/footer';
@import './Components/popup';
@import './Components/navigation';
